<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="searchAuction">
    <tr>
        <td style="padding-bottom: 5%">
            <a href="/home/">Home</a>
        </td>
    </tr>
    <tr>
        <td>
            <div class="searchAuction">
                <label style="font-style: italic">Search Auction</label>
                <form method="post" action="/browseAuction/">
                    {% csrf_token %}
                    <input type="search" name="userTitle">
                    <input type="submit" value="Search">
                </form>
            </div>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


        </td>
    </tr>
</table>
<h1 style="align:center">Auction List</h1>
{% if msg %}
        <tr>
           <h2> <td align="center">{{ msg }}</td></h2>
        </tr>
{% endif %}
<table class="showAuction" style="width: 100%">
    <div class="showAuction">
        {% if newAuctionHtml %}
            <tr>
                <td>
                    <p style="color: orangered">Title</p>
                </td>
                <td>
                    <p style="color: chocolate">Description</p>
                </td>
                <td>
                    <p style="color: chocolate">Price</p>
                </td>
                <td>
                    <p style="color: chocolate">Creation Time</p>
                </td>
                <td>
                    <p style="color: chocolate">DeadLine</p>
                </td>
                <td>
                    <p style="color: chocolate">Created By</p>
                </td>
            </tr>

            {% for auction in newAuctionHtml %}
                <tr>
                    <td>
                        {{ auction.auctionTitle }}
                    </td>
                    <td>
                        {{ auction.auctionDescription }}
                    </td>
                    <td>

                        {{ auction.auctionPrice }}
                    </td>
                    <td>
                        {{ auction.auctionCreationTime }}
                    </td>
                    <td>
                        {{ auction.auctionDeadline }}
                    </td>
                    <td>
                        {{ auction.auctionSeller }}
                    </td>
                    <td>
                        <form action="/editAuction/{{ auction.id }}/">
{#                            {% csrf_token %}#}
                            <input type="submit" value="Edit">
                        </form>

                    </td>
                </tr>

            {% endfor %}
        {% endif %}
    </div>
</table>

</body>
</html>